@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap");

:root {
    --primary-color: #9d0ad2;
    --primary-color-dark: #d6a04a;
    --text-dark: #15191d;
    --text-light: #737373;
    --extra-light: #e5e5e5;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Syncopate", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    font-size: 3.25rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    letter-spacing: -5px;
    line-height: 4.25rem;
}

.btn {
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--text-dark);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    color: var(--text-dark);
    background-color: var(--primary-color);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

.download {
    position: relative;
    isolation: isolate;
    padding-inline: 1rem;
    overflow: hidden;
}

.download::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(50% - 5rem);
    background-color: var(--text-dark);
    z-index: -1;
}

.download__container {
    padding: 0 1rem;
    display: grid;
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.download__content {
    padding-block: 5rem;
}

.download__content .section__header {
    margin-bottom: 2rem;
    text-align: center;
}

.download__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.download__links img {
    max-width: 150px;
}

.download__image {
    display: none;
}

.news {
    background-color: var(--text-dark);
}

.news__container {
    padding-bottom: 0;
    display: grid;
    gap: 2rem;
}

.news__container .section__header {
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -2px;
    color: var(--white);
    text-align: center;
}

.news__container form {
    width: 100%;
    max-width: 450px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.news__container input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0.75rem 0;
    font-size: 1rem;
    color: var(--white);
    background-color: transparent;
    border-bottom: 2px solid var(--text-light);
}

.news__container .btn {
    padding: 10p 12px;
    font-size: 1.5rem;
    background-color: var(--primary-color);
}

footer {
    background-color: var(--text-dark);
}

.footer__container {
    display: grid;
    gap: 4rem 2rem;
    border-bottom: 1px solid var(--text-light);
}

.footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-family: var(--header-font);
    color: var(--white);
}

.footer__links {
    display: grid;
    gap: 1rem;
}

.footer__links a {
  color: var(--text-light);
}

.footer__links a:hover {
    color: var(--white);
}

.footer__socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer__socials a {
    padding: 8px 12px;
    font-size: 1.25rem;
    color: var(--text-light);
    border: 2px solid var(--text-light);
    border-radius: 100%;
}

.footer__socials a:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}

@media (width > 540px) {
    .story__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 768px) {
    nav {
        position: static;
        padding: 2rem 1rem 0;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header {
        flex: 1;
        padding: 0;
        background-color: transparent;
    }

    .nav__logo a {
        color: var(--text-dark);
    }

    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        padding: 0;
        width: fit-content;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav__links a {
        color: var(--text-dark);
    }

    .nav__links a:hover {
        color: var(--primary-color);
    }

    .nav__btn {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }

    .nav__btn .btn {
        color: var(--text-dark);
        background-color: var(--primary-color);
    }

    .range__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .location__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .location__image {
        grid-area: 1/2/2/3;
    }

    .select__form {
        justify-content: space-between;
    }

    .story__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .download__container {
        margin-top: 10rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .download__content {
        max-width: 500px;
        margin-left: auto;
    }

    .download__content .section__header {
        text-align: left;
    }

    .download__links {
        justify-content: flex-start;
    }

    .download__image {
        display: flex;
        position: relative;
        isolation: isolate;
        height: 100%;
    }

    .download__image img {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 400px;
    }

    .news__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .news__container .section__header {
        text-align: left;
    }

    .news__container form {
        margin-inline-end: unset;
    }

    .footer__container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (width > 1024px) {
    .range__grid {
        gap: 1.5rem;
    }

    .range__details {
        padding: 4rem;
    }

    .story__grid {
        padding: 1.5rem;
    }
}
